<!doctype html>
<html lang="en" ng-app="scotchTodo">
  <head>
    <title>Api Suivi Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
      #map {
        height: 100%;
        float: left;
        width: 70%;
      }
    </style>
  </head>
  <body ng-controller="mainController">

    <div class="container">

      <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
              <form class="form-inline">
                  <div class="form-group">
                       <div class="input-group">
                        <div class="input-group-btn">
                          <select name="singleSelect" ng-model="formData.api" class="btn btn-default">
                             <option value="auto">Automatique</option>
                             <option ng-repeat="courier in couriers" value="{{courier.slug}}">{{ courier.name }}</option>
                          </select>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control text-center"  id="coli" name="coli" placeholder="123" ng-model="formData.coli">
                      </div><!-- /input-group -->
                  </div>

                  <button type="submit" class="btn btn-primary" ng-click="send()">Chercher</button>
              </form>
          </div>
      </div>
      <br>
      
      <div id="map"></div>
      
      <div class="panel panel-{{panelClass}}" flex-gt-sm="50" ng-show="main">
        <div class="panel-heading">Information</div>
        
        <div class="panel-body">
          <span >Carrier: {{ main.carrier }}</span><br>
          <span>Tracking number: {{ main.tracking_number }}</span><br>
          <span>Status: {{ main.tracking_status.status }}</span><br>
          <span>Message: {{ main.tracking_status.status_details }}</span><br>
          <span ng-show="main.eta">ETA: {{ main.eta | date: 'fullDate' }}<br></span>
          <span ng-show="main.adress_from">From: {{ main.adress_from.city }}<br></span>
          <span ng-show="main.adress_to">To: {{ main.adress_to.city }}<br></span>
          <span ng-show="main.tracking_status.location">Adress: {{ main.tracking_status.location.city }}<br></span>
        </div>
      </div>
    
      <div class="panel panel-info" flex-gt-sm="50" flex ng-show="main.tracking_history">
      
        <div class="panel-heading">Historique</div>
        
        <div class="panel-body">
          <div class="list-group" ng-repeat="history in main.tracking_history">
            <div class="list-group-item">
              <h4 class="list-group-item-heading">{{ history.status_date | date: 'fullDate' }}</h4>
              <p class="list-group-item-text">Status: {{ history.status }}</p>
              <p class="list-group-item-text">Message: {{ history.status_details}}</p>
              <p class="list-group-item-text" ng-show="history.location">Adress: {{ history.location.city}}</p>
            </div>
          </div>
        </div>
      
      </div>
      
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/core.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6umMewy2Sw7If_JUDRFFTBBXVoicNH4U&callback=initMap"></script>
  </body>
</html>
